<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mails</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>

    <h2>MAILS PAGE</h2>
    
    <div id="textToRead">
        <p>From: panshakeden@gmail.com</p>
        <p>Subject: PROJECT PROPOSAL</p>
        <p>Message: system analysis and design has been good over the years</p>
    </div>

    <form action="">
    <button id="Login">exist</button>
    <button id="inbox">inbox</button>
    <button id="compose">compose</button><br>

    <button id="readButton">Read</button>
</form>

     <script src="../public/frontend/textSpeech.js"></script>
    <script src="../public/frontend/navigate.js"> </script>
</body>
</html>