<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>

    <h2> WELCOME TO VOICE EMAIL APP</h2>
    <form action="">
      <button id="register">sign in </button>
      <button id="login">sign up</button>
      <!-- <button id="Login">exist</button> -->
    </form>

      <script src="../public/frontend/navigate.js"> </script>
 <!-- <script src="./index.js"> </script> -->
</body>
</html>