<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

    <h2>SIGN UP</h2>
    
    <form action="/register" method="post" id="">
        <input type="text" placeholder="Your name" id="name" name="name"> <br>
        <input type="email" name="email" class="output" id="email" placeholder="email"> <br>
        <input type="password" name="password" class="output" id="password" placeholder="password"> <br>
            
        <button type="submit" id="signButton">register</button>
    </form>

    <!-- <script src="./index.js"></script> -->
    <script src="../public/frontend/login.js"></script>
    <!-- <script src="../public/frontend/index.js"></script> -->

</body>
</html>